# Bender dependency managers directory
.bender

# abc log file
*.history

hw/generated
hw/cheshire_bootrom_split.sv

# target/sim
target/sim/models
target/sim/vsim/compile.*.tcl
!target/sim/vsim/compile.bootrom.rtl.tcl
target/sim/vsim/*.log
target/sim/vsim/modelsim.ini
target/sim/vsim/transcript
target/sim/vsim/vsim.wlf
target/sim/vsim/work/
target/nonfree

# target/ihp13
target/ihp13/pickle/out
target/ihp13/macro_cells

# Editor fun
.dvt
dvt_build.log
.vscode

*.log