.bender

# target/sim
target/sim/models
target/sim/vsim/compile.*.tcl
target/sim/vsim/*.log
target/sim/vsim/modelsim.ini
target/sim/vsim/transcript
target/sim/vsim/vsim.wlf
target/sim/vsim/work/

# target/ihp13
target/ihp13/pickle/out

# Editor fun
.dvt
dvt_build.log
.vscode

*.log